@charset "UTF-8";
$fontsize:12px;

/* 头部导航 */

header {
    font-size: $fontsize;
    .head-top {
        a {
            color: #999;
            line-height: 30px;
            padding: 0px 7px;
        }
    }
}

.nav-top .fr .spacer {
    color: #ccc;
    line-height: 30px;
    padding: 0 7px;
}

.head-top {
    background-color: #e3e4e5;
    height: 30px;
}

.dropdown {
    display: none;
    padding: 10px 0 10px 15px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2), -2px 0px 2px 0px rgba(0, 0, 0, 0.2);
    .drop-left {
        float: left;
        div {
            line-height: 24px;
            font-size: 10px;
            a {
                padding: 0;
            }
        }
    }
    img {
        width: 70px;
        height: 70px;
    }
}

.nav-top .fr .bgw:hover {
    background-color: #fff;
}

.nav-top .fr li {
    position: relative;
    float: left;
    a:hover {
        color: #f00;
    }
    &:hover .dropdown {
        display: block;
    }
    .dropdown-part1 {
        position: absolute;
        width: 280px;
        z-index: 999;
        left: 0;
        .drop-left {
            div {
                width: 126px;
            }
        }
    }
    .dropdown-part2 {
        position: absolute;
        width: 140px;
        z-index: 999;
        left: 0;
        .drop-left {
            div {
                width: 60px;
            }
        }
    }
    .dropdown-part3 {
        position: absolute;
        z-index: 999;
        right: 0px;
        width: 170px;
        p {
            width: 170px;
            height: 30px;
        }
        .drop-left div {
            width: 70px;
        }
    }
    .dropdown-part4 {
        position: absolute;
        z-index: 999;
        right: -84px;
        width: 1188px;
        .line {
            border-right: 1px solid #f4f4f4;
            padding-left: 20px;
            p {
                height: 30px;
            }
            .drop-left {
                div {
                    width: 85px;
                }
            }
        }
    }
    .dropdown-part5 {
        position: absolute;
        z-index: 999;
        right: 0px;
        .mobile-pop {
            display: flex;
            width: 190px;
            height: 70px;
            padding: 15px 0;
            img {
                margin-right: 15px;
            }
        }
    }
}


/* 搜索框*/


/* 搜索框前的logo*/

.logo_search {
    height: 140px;
    position: relative;
    .logo {
        position: absolute;
        top: 10px;
        a {
            background: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/header/sprite.png) no-repeat;
            display: block;
            width: 190px;
            height: 120px;
            overflow: hidden;
        }
    }
}


/* 搜索框框*/

.search {
    .search-inner {
        position: absolute;
        left: 260px;
        top: 25px;
        width: 546px;
        height: 32px;
        border: 2px solid #e2231a;
        background-color: #fff;
        display: flex;
        div {
            width: 425px;
            height: 26px;
            line-height: 26px;
            font-size: $fontsize;
            padding: 2px 44px 2px 17px;
            border: 1px solid transparent;
            input {
                color: #666;
            }
        }
        button {
            width: 58px;
            height: 32px;
            line-height: 32px;
            border: 0;
            background-color: #e1251b;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }
    }
    .shopingcar {
        width: 130px;
        height: 34px;
        line-height: 34px;
        background-color: #fff;
        text-align: center;
        border: 1px solid #eee;
        color: #e1251b;
        position: absolute;
        right: 230px;
        top: 25px;
        font-size: 16px;
        a {
            color: #e1251b;
        }
    }
}

.hotwords {
    position: absolute;
    left: 260px;
    top: 65px;
    a {
        margin-right: 10px;
        color: #999;
        &:hover {
            color: #e1251b
        }
    }
}

.navitems {
    position: absolute;
    left: 203px;
    bottom: 0;
    ul {
        li {
            float: left;
            margin: 0 11px;
            height: 40px;
            line-height: 40px;
            a {
                font-size: 15px;
                color: #333;
                &:hover {
                    color: #e1251b;
                }
            }
        }
    }
}