@charset "UTF-8";
$fontsize:12px;
@mixin borderstyle($size:1px, $style:solid, $color:#ccc) {
    border: $size $style $color;
}

@mixin boxsize($w:300px, $h:30px) {
    width: $w;
    height: $h;
    line-height: $h;
}

@mixin boxsizes($w:30px, $h:30px) {
    width: $w;
    height: $h;
}

@mixin postion($direction:left, $positionvalue:absolute, $value1:0px, $value2:0px) {
    @if ($direction==left) {
        position: $positionvalue;
        left: $value1;
        top: $value2;
    }
    @else {
        position: $positionvalue;
        right: $value1;
        top: $value2;
    }
}

@mixin ellipsis($w:300px, $h:30px) {
    width: $w;
    height: $h;
    line-height: $h;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* 头部导航 */

header {
    font-size: $fontsize;
    .head-top {
        a {
            color: #999;
            line-height: 30px;
            padding: 0px 7px;
        }
    }
}

.nav-top .fr .spacer {
    color: #ccc;
    line-height: 30px;
    padding: 0 7px;
}

.head-top {
    background-color: #e3e4e5;
    height: 30px;
}

.dropdown {
    display: none;
    padding: 10px 0 10px 15px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2), -2px 0px 2px 0px rgba(0, 0, 0, 0.2);
    .drop-left {
        float: left;
        div {
            line-height: 24px;
            font-size: 10px;
            a {
                padding: 0;
            }
        }
    }
    img {
        @include boxsizes(70px, 70px);
    }
}

.nav-top .fr .bgw:hover {
    background-color: #fff;
}

.nav-top .fr li {
    position: relative;
    float: left;
    a:hover {
        color: #f00;
    }
    &:hover .dropdown {
        display: block;
    }
    .dropdown-part1 {
        position: absolute;
        width: 280px;
        z-index: 999;
        left: 0;
        .drop-left {
            div {
                width: 126px;
            }
        }
    }
    .dropdown-part2 {
        position: absolute;
        width: 140px;
        z-index: 999;
        left: 0;
        .drop-left {
            div {
                width: 60px;
            }
        }
    }
    .dropdown-part3 {
        position: absolute;
        z-index: 999;
        right: 0px;
        width: 170px;
        p {
            @include boxsizes(170px, 30px);
        }
        .drop-left div {
            width: 70px;
        }
    }
    .dropdown-part4 {
        position: absolute;
        z-index: 999;
        right: -84px;
        width: 1188px;
        .line {
            border-right: 1px solid #f4f4f4;
            padding-left: 20px;
            p {
                height: 30px;
            }
            .drop-left {
                div {
                    width: 85px;
                }
            }
        }
    }
    .dropdown-part5 {
        position: absolute;
        z-index: 999;
        right: 0px;
        .mobile-pop {
            display: flex;
            @include boxsizes(190px, 70px);
            padding: 15px 0;
            img {
                margin-right: 15px;
            }
        }
    }
}


/* 搜索框*/


/* 搜索框前的logo*/

.logo_search {
    height: 140px;
    position: relative;
    .logo {
        position: absolute;
        top: 10px;
        a {
            background: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/header/sprite.png) no-repeat;
            display: block;
            @include boxsizes(190px, 120px);
            overflow: hidden;
        }
    }
}


/* 搜索框框*/

.search {
    .search-inner {
        @include postion(left, absolute, 260px, 25px);
        @include boxsizes(546px, 32px);
        border: 2px solid #e2231a;
        background-color: #fff;
        display: flex;
        div {
            @include boxsize(425px, 26px);
            font-size: $fontsize;
            padding: 2px 44px 2px 17px;
            @include borderstyle(1px, solid, transparent);
            input {
                color: #666;
            }
        }
        button {
            @include boxsize(58px, 32px);
            border: 0;
            background-color: #e1251b;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }
    }
    .shopingcar {
        @include boxsize(130px, 34px);
        background-color: #fff;
        text-align: center;
        @include borderstyle(1px, solid, #eee);
        color: #e1251b;
        @include postion(right, absolute, 230px, 25px);
        font-size: 16px;
        a {
            color: #e1251b;
        }
    }
}

.hotwords {
    @include postion(left, absolute, 230px, 65px);
    a {
        margin-right: 10px;
        color: #999;
        &:hover {
            color: #e1251b
        }
    }
}

.navitems {
    position: absolute;
    left: 203px;
    bottom: 0;
    ul {
        li {
            float: left;
            margin: 0 11px;
            height: 40px;
            line-height: 40px;
            a {
                font-size: 15px;
                color: #333;
                &:hover {
                    color: #e1251b;
                }
            }
        }
    }
}