@charset "UTF-8";
$fontsize:12px;
@mixin borderstyle($size:1px, $style:solid, $color:#ccc) {
    border: $size $style $color;
}

@mixin boxsize($w:300px, $h:30px) {
    width: $w;
    height: $h;
    line-height: $h;
}

@mixin boxsizes($w:30px, $h:30px) {
    width: $w;
    height: $h;
}

@mixin postion($direction:left, $positionvalue:absolute, $value1:0px, $value2:0px) {
    @if ($direction==left) {
        position: $positionvalue;
        left: $value1;
        top: $value2;
    }
    @else {
        position: $positionvalue;
        right: $value1;
        top: $value2;
    }
}

@mixin ellipsis($w:300px, $h:30px) {
    width: $w;
    height: $h;
    line-height: $h;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* 主体导航 */

main {
    background-color: #f4f4f4;
    padding-top: 10px;
    .nav {
        height: 470px;
        position: relative;
        >ul {
            padding: 10px 0;
            background-color: #fff;
            width: 190px;
            >li {
                padding-left: 18px;
                height: 25px;
                line-height: 25px;
                &:hover {
                    background-color: #d9d9d9;
                }
                a {
                    color: #333;
                    &:hover {
                        color: #e1251b
                    }
                }
            }
        }
        .navlist {
            @include postion(left, absolute, 190px, 0);
            @include boxsizes(998px, 468px);
            @include borderstyle(1px, solid, #f7f7f7);
            background-color: #fff;
            box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
            display: none;
            transition: top 0.3s ease;
            z-index: 9999;
        }
    }
}

.itemlist {
    padding: 20px 0 10px;
    .cate_channel {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        a {
            display: inline-block;
            background: #333;
            height: 24px;
            line-height: 24px;
            padding: 0 10px;
            margin-right: 10px;
            color: #fff;
            font-size: $fontsize;
            &:hover {
                background-color: #e1251b;
            }
        }
    }
    .cate_detail {
        font-size: $fontsize;
        width: 600px;
        padding: 10px 0 0 20px;
        dl {
            position: relative;
            padding-left: 80px;
            margin: 10px 0;
            dt {
                @include postion(left, absolute, 0, 6px);
                width: 75px;
                text-align: right;
                font-weight: bold;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                a {
                    color: #333;
                    &:hover {
                        color: #e1251b;
                    }
                }
            }
            dd {
                padding: 5px 0;
                a {
                    color: #666;
                    margin: 3px 0;
                    padding: 0 7px;
                    height: 16px;
                    line-height: 16px;
                    white-space: nowrap;
                    &:hover {
                        color: #e1251b;
                    }
                }
            }
        }
    }
}


/* 滚动出现的搜索框 */

.logo-scroll {
    position: fixed;
    top: -60px;
    margin: auto;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}

.search-top {
    height: 50px;
    position: relative;
    background-color: #fff;
    .search-inner-top {
        @include boxsizes(546px, 32px);
        @include borderstyle(2px, solid, #e2231a);
        display: flex;
        @include postion(left, absolute, 260px, 8px);
        div {
            @include boxsize( 425px, 26px);
            font-size: $fontsize;
            padding: 2px 44px 2px 17px;
            @include borderstyle(1px, solid, transparent);
            input {
                color: #666;
            }
        }
        button {
            @include boxsize(58px, 32px);
            border: 0;
            background-color: #e1251b;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }
    }
    .shopingcar-top {
        @include boxsize(130px, 34px);
        background-color: #fff;
        text-align: center;
        @include borderstyle(1px, solid, #eee);
        color: #e1251b;
        @include postion(right, absolute, 230px, 8px);
    }
    .logo-top {
        position: absolute;
        top: 5px;
        h1 {
            a {
                background: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/header/sprite.png) no-repeat 0 -120px;
                display: block;
                @include boxsize(125px, 40px);
                overflow: hidden;
            }
        }
    }
}


/* 主体大轮播图 */

.piclist {
    float: left;
    padding: 0 10px;
    @include boxsize(590px, 470px);
    position: relative;
    ul {
        li {
            position: absolute;
        }
    }
    ol {
        position: absolute;
        left: 30px;
        bottom: -215px;
        li {
            @include boxsize(8px, 8px);
            background-color: rgba(255, 255, 255, .4);
            margin-left: 4px;
            @include borderstyle(1px, solid, rgba(0, 0, 0, .05));
            display: inline-block;
            border-radius: 50%;
        }
        .active {
            background-color: #fff;
            @include borderstyle(2px, solid, rgba(0, 0, 0, .05));
        }
    }
    #left,
    #right {
        @include boxsize(25px, 35px);
        position: absolute;
        top: 50%;
        margin-top: -20px;
        z-index: 999;
        color: #fff;
        font-size: 10px;
        text-decoration: none;
        background-color: rgba(0, 0, 0, .2);
    }
    #right {
        right: 10px;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
    }
    #left {
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
    }
}


/* 主体小轮播图 */

.piclist-side {
    float: left;
    position: relative;
    @include boxsize(190px, 470px);
    .picside {
        position: relative;
        ul {
            position: absolute;
            top: 0;
            img {
                @include boxsize(190px, 150px);
            }
        }
    }
    #leftside,
    #rightside {
        @include boxsize(25px, 35px);
        position: absolute;
        top: 50%;
        margin-top: -20px;
        z-index: 999;
        color: #fff;
        font-size: 10px;
        text-decoration: none;
        background-color: rgba(0, 0, 0, .2);
    }
    #rightside {
        right: 0px;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
    }
    #leftside {
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
    }
}


/* 用户 新闻 */

.sidenews a {
    color: #333;
}

.sidenews {
    background-color: #fff;
    float: left;
    @include boxsizes(190px, 470px);
    margin-left: 10px;
    font-size: $fontsize;
}

.user {
    height: 102px;
    .pic {
        margin: 0 auto;
        display: flex;
        height: 67px;
        padding-top: 15px;
        box-sizing: border-box;
        img {
            @include boxsize(40px, 40px);
            padding: 2px;
            border-radius: 50px;
            margin: 0 10px 0 15px;
        }
    }
    .btn {
        text-align: center;
        margin: 0 auto;
        a {
            display: inline-block;
            @include boxsize(70px, 25px);
            background-color: #f00;
            border-radius: 10px;
            text-align: center;
            color: #fff;
        }
        .plus {
            background-color: #000;
            color: #e5d790
        }
    }
}

.news {
    padding: 0 8px;
    a:hover {
        color: #e1251b;
    }
    .news-title {
        height: 20px;
        padding-top: 10px;
        margin-bottom: 8px;
        h4 {
            float: left;
            font-size: 14px;
            font-weight: bold;
        }
        a {
            float: right;
            height: 12px;
        }
    }
    .news-list {
        p {
            margin-bottom: 8px;
            span {
                background-color: rgba(225, 37, 27, .08);
                color: #e1251b;
                @include boxsize(35px, 16px);
            }
            a {
                display: inline-block;
                @include ellipsis(135px, 16px);
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }
}

.icon {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    div {
        @include boxsizes(63px, 55px);
        margin: 0 auto;
        img {
            @include boxsize(28px, 28px);
            margin: 3px auto;
        }
    }
}


/* 侧边楼梯 */

.loutinav {
    @include boxsizes(58px, 406px);
    position: fixed;
    left: 50%;
    margin-left: 630px;
    top: 720px;
    ul {
        background-color: #fff;
        li {
            @include boxsizes(58px, 58px);
            padding: 10px;
            box-sizing: border-box;
            text-align: center;
            border-bottom: 1px solid #eee;
            color: #666;
            &:hover {
                background-color: #e1251b;
                color: #fff;
            }
        }
        .last {
            line-height: 40px;
        }
    }
}


/* 主体渲染的数据part1 */

.main_part1 {
    .part1_plist {
        margin-right: -10px;
        height: 950px;
        .part1_plist_inner {
            float: left;
            background-color: #fff;
            @include boxsizes(290px, 180px);
            margin-bottom: 10px;
            margin-right: 10px;
            .part1_plist_img {
                padding-left: 30px;
                img {
                    display: inline-block;
                }
            }
            p {
                padding: 17px 0 13px;
                margin: 0 10px 0 30px;
                span {
                    color: #333;
                    font-size: 22px;
                }
                strong {
                    color: #999;
                    font-size: $fontsize;
                }
            }
        }
    }
}

#part1_plist_inner1,
#part1_plist_inner2 {
    height: 370px;
    p {
        padding: 0;
        margin: 0;
    }
    .part1_plist_img {
        padding-left: 0;
    }
}


/* 主体渲染的数据part2 */

main {
    .title {
        margin: 0 auto;
        padding: 20px 0;
        @include boxsize(150px, 45px);
        text-align: center;
        position: relative;
    }
    .title::before {
        content: "";
        display: block;
        @include boxsizes(25px, 20px);
        background: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/floor_hd/sprite.png) no-repeat;
        @include postion(left, absolute, 0, 50%);
        margin-top: -10px;
    }
    .title::after {
        content: "";
        display: block;
        @include boxsizes(25px, 20px);
        background: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/floor_hd/sprite.png) no-repeat;
        @include postion(right, absolute, 0, 50%);
        background-position: -25px 0;
        margin-top: -10px;
    }
}

.plist {
    ul {
        display: flex;
        width: 1190px;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            @include boxsizes(230px, 310px);
            background-color: #fff;
            margin-bottom: 10px;
            p {
                @include boxsizes(190px, 48px);
                color: #666;
                line-height: 24px;
                overflow: hidden;
                margin: 0 auto;
            }
            img {
                @include boxsizes(150px, 150px);
                display: block;
                margin: 0 auto;
                padding: 32px;
                font-size: 12px;
            }
            span {
                display: block;
                color: #e1251b;
                font-size: 20px;
                padding: 5px 0 0 15px;
            }
        }
    }
}