/* 主体排序的按钮  */
main{
    padding-bottom: 30px;
}
.btn {
    margin: 30px 0;
    button {
        background-color: #fff;
        border: 1px solid #eee;
        padding: 6px;
        color: #666;
        outline: 0;
        &:hover {
            border: 1px solid #e1251b;
            color: #e1251b;
        }
    }
}


/* 主体渲染列表 */

.piclist ul {
    display: flex;
    width: 1190px;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
        width: 230px;
        height: 322px;
        background-color: #fff;
        height: 310px;
        margin-bottom: 10px;
        border: 1px solid #eee;
        &:hover {
            box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.2), -1px 0px 3px 0px rgba(0, 0, 0, 0.2);
        }
        p {
            width: 190px;
            height: 48px;
            color: #666;
            line-height: 24px;
            overflow: hidden;
            margin: 0 auto;
        }
        img {
            width: 150px;
            height: 150px;
            display: block;
            margin: 0 auto;
            padding: 32px;
            font-size: 12px;
        }
        span {
            display: block;
            color: #e1251b;
            font-size: 16px;
            padding: 5px 0 0 15px;
        }
    }
}