header {
    font-size: 12px;
}

header a {
    color: #999;
    line-height: 30px;
}

header .nav-top .fr li {
    float: left;
}

.nav-top .fr li span {
    padding: 15px;
    color: #999;
}

.nav-top .fr li a:hover {
    color: #f00;
}

.head-top {
    background-color: #e3e4e5;
    height: 30px;
}