@charset "utf-8";
@import "reset";

/* 头部 */

body {
    font-size: 12px;
    color: #999
}

.head {
    box-shadow: 3px 0 8px 0 rgba(0, 0, 0, .2);
}

.top {
    height: 60px;
    padding: 10px 0 30px;
    position: relative;
}

.welcome {
    width: 96px;
    height: 34px;
    position: relative;
    font-size: 24px;
    color: #333;
    top: 20px;
    left: 20px;
}

.logo-r {
    position: relative;
    top: 45px;
}

.logo-r a {
    color: #e22;
    font-size: 12px;
    &:hover {
        text-decoration: underline;
    }
}


/* 主体 */

.registry {
    width: 400px;
    margin: auto;
    padding: 40px 0;
    .form {
        .input {
            width: 398px;
            height: 50px;
            line-height: 50px;
            margin: 20px 0;
            border: 1px solid #ccc;
            text-align: right;
            input {
                width: 320px;
                height: 50px;
                line-height: 50px;
                border-left: 1px solid #ccc;
                padding-left: 10px;
            }
        }
    }
}

#submit {
    background-color: #e2231a;
    font-size: 20px;
    color: #fff;
    margin: auto;
    width: 398px;
    height: 50px;
    line-height: 50px;
}

.tishikuang {
    height: 50px;
    width: 200px;
    position: absolute;
    left: 410px;
    text-align: left;
}


/* 尾部 */

footer .bot-nav {
    padding-top: 20px;
}

footer a {
    padding: 0 10px;
    color: #666;
    &:hover {
        color: #e22;
        text-decoration: underline;
    }
}

footer .copy {
    text-align: center;
    padding: 10px 0 30px;
    color: #666;
}